dash==2.10.2
dash-bootstrap-components
gunicorn==20.0.4
openpyxl==3.1.2
plotly==5.15.0
SQLAlchemy==1.4.47
scipy==1.5.4
pandas==2.2.1
python_dateutil==2.8.2
# Install Pandas too (Jupyter will install too when you first run the code)
